*:before,
*:after,
* {
  box-sizing: border-box;
}

html, body {
  min-height: 100vh;
  height: 100%;
}

body, .placeholder-items, .placeholder-items > li {
  padding: 0;
  margin: 0;
}

.placeholder-items {
  list-style: none;
}

.placeholder-items > .placeholder-item {
  position: relative;
  width: 25%;
  height: 300px;
  float: left;
  text-align: center;
  line-height: 300px;
  cursor: pointer;
}

.placeholder-items > .placeholder-item:after {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  -webkit-transition: .35s ease-in-out;
  -moz-transition: .35s ease-in-out;
  transition: .35s ease-in-out;
}

.placeholder-items > .placeholder-item:hover:after {
  background-color: rgba(0, 0, 0, 0.35);
}
