*:before,
*:after,
* {
  box-sizing: border-box;
}

html, body {
  min-height: 100vh;
  height: 100%;
}

body, .placeholder-items, .placeholder-items > li {
  padding: 0;
  margin: 0;
}

.placeholder-items {
  list-style: none;
}

.placeholder-items > .placeholder-item {
  width: 25%;
  height: 300px;
  float: left;
  text-align: center;
  line-height: 300px;
}
